<header>
    <div>
        <img src="../../../../assets/logo.svg">
        <p>Сервисная служба <br>Московского Политеха</p>
    </div>
    <nav>
        <i class="fas fa-sign-in-alt" [routerLink]="['/loginUser']"></i>
        <i class="fas fa-user-cog" [routerLink]="['/loginWorker']"></i>
        <i class="fas fa-user-lock" [routerLink]="['/loginAdmin']"></i>
    </nav>
</header>

<section class="block" id="newRequest">
    <form [formGroup]='mainForm' (ngSubmit)="submit()" *ngIf="!requestCreated">
        <h2>Создать заявку на ремонт или обслуживание оборудования</h2>
        <input type="hidden" name="status" formControlName="status">
        <input placeholder="Название проблемы" type="text" name="name" formControlName="name" [ngClass]="{'is-invalid' : (mainForm.get('name').invalid && mainForm.get('name').touched), 'is-valid' : !mainForm.get('name').invalid && mainForm.get('name').touched}">
        <div class="validation" >
            <small class="text-danger" *ngIf="mainForm.get('name').invalid && mainForm.get('name').touched">Поле не может быть пустым</small>
        </div>
        <textarea rows="3" placeholder="Кратко опишите суть проблемы" formControlName="text" [ngClass]="{'is-invalid' : (mainForm.get('text').invalid && mainForm.get('text').touched), 'is-valid' : !mainForm.get('text').invalid && mainForm.get('text').touched}"></textarea>
        <div class="validation" >
            <small class="text-danger" *ngIf="mainForm.get('text').invalid && mainForm.get('text').touched">Поле не может быть пустым</small>
        </div>
        <input type="email" placeholder="Ваш адрес электронной почты" name="email" formControlName="email" [ngClass]="{'is-invalid' : (mainForm.get('email').invalid && mainForm.get('email').touched), 'is-valid' : !mainForm.get('email').invalid && mainForm.get('email').touched}">
        <div class="validation" >
            <small class="text-danger" *ngIf="mainForm.get('email').invalid && mainForm.get('email').touched">Поле не может быть пустым</small>
        </div>
        <p>Специализация проблемы:</p>
        <select formControlName="specialization" [ngClass]="{'is-invalid' : (mainForm.get('specialization').invalid && mainForm.get('specialization').touched), 'is-valid' : !mainForm.get('specialization').invalid && mainForm.get('specialization').touched}">
            <option>Сантехника</option>
            <option>Электрика</option>
            <option>Обслуживание техники</option>
            <option>Обслуживание ПО</option>
            <option>Строительство</option>
        </select>
        <div class="validation" >
            <small class="text-danger" *ngIf="mainForm.get('specialization').invalid && mainForm.get('specialization').touched">Поле не может быть пустым</small>
        </div>
        <button type="submit" (click)="submit()" [disabled]="mainForm.invalid">Отправить заявку</button>
    </form>
    <h3 *ngIf="requestCreated">Спасибо большое. <br>Ваша заявка уже обрабатывается<p (click)="newForm()">Создать еще одну заявку</p>
    </h3>
</section>

<footer>
    <h6>Сервисная служба <br>Московского Политеха</h6>
    <div>
        <p [routerLink]="['/loginUser']">Авторизоваться как посетитель</p>
        <p [routerLink]="['/loginWorker']">Авторизоваться как специалист</p>
        <p [routerLink]="['/loginAdmin']">Авторизоваться как администратор</p>
    </div>
</footer>
